p {
    color: black;
    border: black 3px;
    background-color: white;
    font-weight:15px;
    
}

h1{
    font-size:70px;
    font-weight: bold;
    text-decoration: dotted;
}

img{
    align-self: center;
    size: 100px;
}